

<button
    id="@Id"
    class="Rr-button
    @(selected ? "selected" : "")
    @(Size == ButtonSizes.Small ? "small" :
    (Size == ButtonSizes.Medium ? "medium" :
    (Size == ButtonSizes.Large ? "large" :
    "Rr-button-default")))"
    type="button"
    style="@Style"
    @onclick="HandleOnClick">
        @ChildContent
</button>