@if (Visible)
{
    InitializeCheckbox();
    <div class="Rr-checkbox-container">
        @if (!string.IsNullOrEmpty(Label))
        {
            <div class="Rr-checkbox-label-container">
                <label class="Rr-checkbox-label" for="@Id">@Label</label>
            </div>
        }
        <label class="Rr-checkbox">
            <input id="@Id" type="checkbox" @bind="isChecked" @onclick="HandleOnCheckboxClick">
            <span class="checkmark"></span>
        </label>
    </div>
}

