
.Rr-dropdown-container {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.Rr-dropdown {
    position: relative;
    height: 35px;
    width: var(--dropdown-width);
    background: #E8E8E8;
    cursor: default;
    padding: 0;
    margin: 0px 7px 0px 4px;
    border-radius: 7px; /* Adjust radius as needed */
    overflow: hidden; /* Hide content during transition */
    text-align: start;
    user-select: none; /* Prevents text from being highlighted */
    border: thin solid #c8c6c6;
    z-index: 5;
    transition: width 0.3s ease; /* Smooth transition for width */
    flex: 0 0 auto; /* Prevents shrinking and growing */
}

.Rr-dropdown-content {
    opacity: 0;
    transition: opacity 0.2s linear, width 0.3s ease;
    position: absolute;
    top: 34px;
    width: var(--dropdown-width);
    height: calc(var(--max-height, 230px) - 35px);
    background-color: #FFFF;
    overflow-x: hidden;
    overflow-y: auto;
}

.Rr-dropdown:hover {
    background: linear-gradient(90deg, #036E80, #02424D, #036E80); /* Diagonal gradient background for the tabs container */
    background-size: 200% 100%; /* Required for shimmer effect */
}

    .Rr-dropdown:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        animation: shimmer 10s infinite linear; /* Always apply shimmer animation */
        z-index: -1;
    }

.Rr-dropdown.minimized {
    animation: collapse 0.2s forwards; /* Add collapse animation */
}

.Rr-dropdown.expanded {
    animation: expand 0.2s forwards; /* Add expand animation */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

@keyframes expand {
    from {
        height: 35px;
    }

    to {
        height: var(--max-height, 230px);
    }
}

@keyframes collapse {
    from {
        height: var(--max-height, 230px);
    }

    to {
        height: 35px;
    }
}

.Rr-dropdown-selectiontext {
    position: absolute;
    top: 7px;
    left: 7px;
    display: inline-block;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; /* Substitute with your chosen font */
    color: #333; /* This is a dark gray, visible against a light background */
    text-transform: uppercase; /* Considering your acronyms are in uppercase */
}

.Rr-dropdown-label-container {
    position: relative;
    height: 35px;
    width: auto; /* Allow width to adjust based on content */
    cursor: default;
    padding: 0;
    margin: 0;
    border-top-left-radius: 7px; /* Adjust radius as needed */
    border-bottom-left-radius: 7px; /* Adjust radius as needed */
    overflow: hidden; /* Hide content during transition */
    text-align: start;
    user-select: none; /* Prevents text from being highlighted */
    border: thin solid #c8c6c6;
    border-right: none;
    z-index: 5;
    background: linear-gradient(to bottom, #d5d5d5, #E8E8E8); /* Gradient background */
    display: inline-block; /* Ensures the element can shrink */
}



.Rr-dropdown-label {
    padding-right: 8px;
    
    margin: 6px 3px 0px 4px;
    display: inline-block;
    font-size: 12px;
    font-family: 'Roboto', sans-serif; /* Substitute with your chosen font */
    color: #333; /* This is a dark gray, visible against a light background */
    text-transform: uppercase; /* Considering your acronyms are in uppercase */
    font-weight: bold; /* Makes the text bold */
}


.Rr-dropdown-arrow {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333; /* This is a dark gray, visible against a light background */
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out; /* Increased duration and added easing */
}

.Rr-dropdown:hover .Rr-dropdown-arrow {
    border-top: 5px solid #FFFFFF; /* White color */
}

.Rr-dropdown:hover .Rr-dropdown-selectiontext {
    color: #FFFFFF; /* White color */
}

.Rr-dropdown.expanded .Rr-dropdown-arrow {
    transform: rotate(180deg);
}



.Rr-dropdown.expanded .Rr-dropdown-content {
    opacity: 1;
}

ul.item-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

    ul.item-list li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        font-size: 12px;
        font-family: 'Roboto', sans-serif; /* Substitute with your chosen font */
        color: #333; /* This is a dark gray, visible against a light background */
        text-transform: uppercase; /* Considering your acronyms are in uppercase */
        letter-spacing: 1px; /* To give a little breathing room for the uppercase letters */
    }

        ul.item-list li:hover {
            background-color: #f5f5f5;
            cursor: pointer;
        }

@keyframes fadeRed {
    96% {
        opacity: 0;
    }

    97% {
        opacity: .5;
    }

    98% {
        opacity: .2;
    }

    99% {
        opacity: .5;
    }

    100% {
        opacity: 0;
    }
}

.fade-red::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    opacity: 0;
    z-index: 1;
    animation: fadeRed 10s infinite;
}

.fade-red {
    position: relative;
    z-index: 0;
}
