<div class="container @(FullScreen ? "full" : "")" style="@(Loading is null || !Loading.IsLoading ? "display: none;" : "display: flex;")">
    @switch (Loading?.Type)
    {
        case Razor.Models.RrLoadingType.Loading:
        case Razor.Models.RrLoadingType.Authenticating:
            <div class="spinner">
                <div class="brush brush1"></div>
                <div class="brush brush2"></div>
            </div>
            <p class="message">@Loading.Message</p>
            break;
        case Razor.Models.RrLoadingType.Awaiting:
            <p>@Loading.Message</p>
            break;
    }
</div>
