
<div class="rr-panel-checkbox-container">
    <input
        type="checkbox"
        id="panelCheckbox"
        name="panelCheckbox"
        class="styled-checkbox"
        style="@Style"
        @bind="@Panel.CheckBox.IsChecked"
        @onclick="OnCheckboxToggled">
    <label
        id="checkbox-label"
        for="panelCheckbox"
        class="checkbox-label">@Panel.CheckBox.Text
    </label>
</div>
