
.Rr-panel-container {
    position: absolute;
    top: 0px;
    padding: 0px;
    margin: 0px;
    transition: 0.3s ease;
}

    .Rr-panel-container.left {
        left: var(--panel-left);
    }

    .Rr-panel-container.right {
        right: var(--panel-right);
    }

.Rr-panel {
    position: absolute;
    background: white;
    overflow: hidden;
}

    .Rr-panel.left {
        height: var(--panel-height);
        width: var(--panel-width);
        box-shadow: 4px 0 6px -1px rgba(0, 0, 0, 0.1), 2px 0 4px -1px rgba(0, 0, 0, 0.06);
    }

    .Rr-panel.right {
        height: var(--panel-height);
        width: var(--panel-width);
        box-shadow: -4px 0 6px -1px rgba(0, 0, 0, 0.1), -2px 0 4px -1px rgba(0, 0, 0, 0.06);
    }

.Rr-panel-header {
    position: relative;
    height: 35px;
    align-content: center;
    width: var(--panel-width);
    background: #E8E8E8;
    /*box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);*/
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Adjust thickness and color as needed */
    opacity: 1;
    transition: opacity 0.5s linear;
    z-index: 2;
}

.Rr-panel-body {
    position: relative;
    background-color: inherit;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.Rr-panel-footer {
    position: absolute;
    height: 35px;
    align-content: center;
    width: var(--panel-width);
    bottom: 0px;
    background: #E8E8E8;
    border-top: 2px solid rgba(0, 0, 0, 0.1); /* Adjust thickness and color as needed */
    /*box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);*/
    opacity: 1;
    transition: opacity 0.5s linear;
    z-index: 2;
}

.Rr-panel-statechanger {
    position: relative;
    align-content: center;
    transition: left 0.3s ease, right 0.3s ease; /* Smooth transition for width */
    background: linear-gradient(#E8E8E8, #d0d0d0, #E8E8E8); /* Diagonal gradient background for the tabs container */
    border-right: thin solid #c8c6c6;
    border-left: thin solid #c8c6c6;
    cursor: pointer;
    z-index: 3;
}

    .Rr-panel-statechanger.left {
        left: var(--state-changer-position);
        box-shadow: 4px 0 6px -1px rgba(0, 0, 0, 0.1), 2px 0 4px -1px rgba(0, 0, 0, 0.06);
    }

    .Rr-panel-statechanger.right {
        right: var(--state-changer-position);
        box-shadow: -4px 0 6px -1px rgba(0, 0, 0, 0.1), -2px 0 4px -1px rgba(0, 0, 0, 0.06);
    }


.Rr-panel-container.minimized .Rr-panel-statechanger.left {
    border-left: none;
}

.Rr-panel-container.minimized .Rr-panel-statechanger.right {
    border-right: none;
}

.Rr-panel.minimized .Rr-panel-body {
    opacity: 0;
}

.Rr-panel.minimized .Rr-panel-header {
    opacity: 0;
}

.Rr-panel.minimized .Rr-panel-footer {
    opacity: 0;
}

.Rr-panel-statechanger-arrow {
    margin: 1px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    
}

    .Rr-panel-statechanger-arrow.right {
        border-right: 5px solid #333;
    }

    .Rr-panel-statechanger-arrow.left {
        border-left: 5px solid #333;
    }

.top-dots {
    position: absolute;
    top: 3px;
    margin: 2px;
}

.bottom-dots {
    position: absolute;
    bottom: 3px;
    margin: 2px;
}

.Rr-panel-dots {
    display: inline-block;
    position: relative;
    width: 4px; /* Width of the dots */
    height: 4px; /* Height of the dots */
    background-color: #333; /* Color of the dots */
    border-radius: 50%; /* Make the dots round */
    margin: 2px 0; /* Space between the dots */
}

    .Rr-panel-dots::before,
    .Rr-panel-dots::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 4px; /* Width of the dots */
        height: 4px; /* Height of the dots */
        background-color: #333; /* Color of the dots */
        border-radius: 50%; /* Make the dots round */
    }

    .Rr-panel-dots::before {
        top: -8px; /* Adjust the spacing between the dots */
    }

    .Rr-panel-dots::after {
        top: 8px; /* Adjust the spacing between the dots */
    }

.Rr-panel-statechanger.expanded .Rr-panel-statechanger-arrow.right,
.Rr-panel-statechanger.expanded .Rr-panel-statechanger-arrow.left {
    transform: rotate(180deg);
}

.Rr-panel-statechanger:hover {
    background: linear-gradient(#036E80, #036170, #036E80); /* Diagonal gradient background for the tabs container */
}

.Rr-panel-statechanger:hover .Rr-panel-statechanger-arrow.left {
    border-left: 5px solid #FFFFFF; /* White color on hover */
}

.Rr-panel-statechanger:hover .Rr-panel-statechanger-arrow.right {
    border-right: 5px solid #FFFFFF; /* White color on hover */
}

    .Rr-panel-statechanger:hover .Rr-panel-dots,
    .Rr-panel-statechanger:hover .Rr-panel-dots::after,
    .Rr-panel-statechanger:hover .Rr-panel-dots::before {
        background-color: #FFFFFF; /* Color of the dots */
    }

.Rr-panel-statechanger.minimized .Rr-panel-dots {
    display: none;
}