
.Rr-panel-container {
    position: absolute;
    padding: 0px;
    margin: 0px;
    transition: 0.3s ease;
}

    .Rr-panel-container.left {
        top: var(--panel-top);
        left: var(--panel-left);
        z-index: 1;
    }

    .Rr-panel-container.right {
        top: var(--panel-top);
        right: var(--panel-right);
        z-index: 1;
    }

    .Rr-panel-container.top {
        top: var(--panel-top);
        z-index: 2;
    }

    .Rr-panel-container.bottom {
        bottom: var(--panel-bottom);
        z-index: 2;
    }

.Rr-panel {
    position: absolute;
    background: white;
    overflow: hidden;
    height: var(--panel-height);
    width: var(--panel-width);
}

    .Rr-panel.left {
        box-shadow: 4px 0 6px -1px rgba(0, 0, 0, 0.1), 2px 0 4px -1px rgba(0, 0, 0, 0.06);
    }

    .Rr-panel.right {
        box-shadow: -4px 0 6px -1px rgba(0, 0, 0, 0.1), -2px 0 4px -1px rgba(0, 0, 0, 0.06);
    }

    .Rr-panel.top {
        box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    .Rr-panel.bottom {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

.Rr-panel-header {
    position: relative;
    height: 35px;
    align-content: center;
    width: var(--panel-width);
    background: #E8E8E8;
    /*box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);*/
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Adjust thickness and color as needed */
    opacity: 1;
    transition: opacity 0.5s linear;
    z-index: 2;
}

.Rr-panel-body {
    position: relative;
    background-color: inherit;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.Rr-panel-footer {
    position: absolute;
    height: 35px;
    align-content: center;
    width: var(--panel-width);
    bottom: 0px;
    background: #E8E8E8;
    border-top: 2px solid rgba(0, 0, 0, 0.1); /* Adjust thickness and color as needed */
    /*box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);*/
    opacity: 1;
    transition: opacity 0.5s linear;
    z-index: 2;
}

.Rr-panel-statechanger {
    position: relative;
    align-content: center;
    cursor: pointer;
}

    .Rr-panel-statechanger.left {
        border-right: thin solid #c8c6c6;
        border-left: thin solid #c8c6c6;
        left: var(--state-changer-position);
        box-shadow: 4px 0 6px -1px rgba(0, 0, 0, 0.1), 2px 0 4px -1px rgba(0, 0, 0, 0.06);
        transition: left 0.3s ease, right 0.3s ease;
        background: linear-gradient(#E8E8E8, #d0d0d0, #E8E8E8);
    }

    .Rr-panel-statechanger.right {
        border-right: thin solid #c8c6c6;
        border-left: thin solid #c8c6c6;
        right: var(--state-changer-position);
        box-shadow: -4px 0 6px -1px rgba(0, 0, 0, 0.1), -2px 0 4px -1px rgba(0, 0, 0, 0.06);
        transition: left 0.3s ease, right 0.3s ease;
        background: linear-gradient(#E8E8E8, #d0d0d0, #E8E8E8);
    }

    .Rr-panel-statechanger.top {
        border-top: thin solid #c8c6c6;
        border-bottom: thin solid #c8c6c6;
        top: var(--state-changer-position);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        transition: top 0.3s ease, bottom 0.3s ease;
        display: flex;
        justify-content: center;
        background: linear-gradient(90deg, #E8E8E8, #d0d0d0, #E8E8E8);
    }

    .Rr-panel-statechanger.bottom {
        border-top: thin solid #c8c6c6;
        border-bottom: thin solid #c8c6c6;
        bottom: var(--state-changer-position);
        box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
        transition: top 0.3s ease, bottom 0.3s ease;
        display: flex;
        justify-content: center;
        background: linear-gradient(90deg, #E8E8E8, #d0d0d0, #E8E8E8);
        z-index: 5;
    }


.Rr-panel-container.minimized .Rr-panel-statechanger.left {
    border-left: none;
}

.Rr-panel-container.minimized .Rr-panel-statechanger.right {
    border-right: none;
}

.Rr-panel-container.minimized .Rr-panel-statechanger.top {
    border-top: none;
}

.Rr-panel-container.minimized .Rr-panel-statechanger.bottom {
    border-bottom: none;
}

.Rr-panel.minimized .Rr-panel-body {
    opacity: 0;
}

.Rr-panel.minimized .Rr-panel-header {
    opacity: 0;
}

.Rr-panel.minimized .Rr-panel-footer {
    opacity: 0;
}

.Rr-panel-statechanger-arrow {
    margin: 1px;
    display: inline-block;
    width: 0;
    height: 0;
}

    .Rr-panel-statechanger-arrow.right {
        margin-left: 2px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid #333;
    }

    .Rr-panel-statechanger-arrow.left {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #333;
    }

    .Rr-panel-statechanger-arrow.top {
        margin-top: 2px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #333;
    }

    .Rr-panel-statechanger-arrow.bottom {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #333;
    }

.Rr-panel-statechanger.minimized .Rr-panel-statechanger-arrow.left {
    margin-left: 2px;
}

.Rr-panel-statechanger-dots-container {
    position: absolute;
}
    .Rr-panel-statechanger-dots-container.left {
        left: 22px;
        bottom: -1px;
        height: 10px;
        width: 30px;
        cursor: ns-resize;
    }

    .Rr-panel-statechanger-dots-container.right {
        right: 22px;
        bottom: -1px;
        height: 10px;
        width: 30px;
        cursor: ns-resize;
    }

    .Rr-panel-statechanger-dots-container.top {
        top: 3px;
        right: 0px;
        width: 9px;
        height: 29px;
        cursor: ew-resize;
    }

    .Rr-panel-statechanger-dots-container.bottom {
        bottom: 3px;
        right: 0px;
        width: 9px;
        height: 29px;
        cursor: ew-resize;
    }

.Rr-panel-statechanger-dots {
    display: inline-block;
    position: relative;
    width: 4px; /* Width of the dots */
    height: 4px; /* Height of the dots */
    background-color: #333; /* Color of the dots */
    border-radius: 50%; /* Make the dots round */
}

    .Rr-panel-statechanger-dots.vertical {
        right: -3px;
        top: -1px;
    }

    .Rr-panel-statechanger-dots.horizontal {
        left: 5px;
        bottom: 10px;
    }

.Rr-panel-statechanger-dots::before,
.Rr-panel-statechanger-dots::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 4px; /* Width of the dots */
    height: 4px; /* Height of the dots */
    background-color: #333; /* Color of the dots */
    border-radius: 50%; /* Make the dots round */
}

    .Rr-panel-statechanger-dots.vertical::before {
        top: -8px; /* Adjust the spacing between the dots */
    }

    .Rr-panel-statechanger-dots.vertical::after {
        top: 8px; /* Adjust the spacing between the dots */
    }

    .Rr-panel-statechanger-dots.horizontal::before {
        left: 16px; /* Adjust the spacing between the dots */
    }

    .Rr-panel-statechanger-dots.horizontal::after {
        left: 8px; /* Adjust the spacing between the dots */
    }

.Rr-panel-statechanger.expanded .Rr-panel-statechanger-arrow.right,
.Rr-panel-statechanger.expanded .Rr-panel-statechanger-arrow.left,
.Rr-panel-statechanger.expanded .Rr-panel-statechanger-arrow.top,
.Rr-panel-statechanger.expanded .Rr-panel-statechanger-arrow.bottom {
    transform: rotate(180deg);
}

.Rr-panel-statechanger:hover {
    background: linear-gradient(#036E80, #036170, #036E80); /* Diagonal gradient background for the tabs container */
}

    .Rr-panel-statechanger:hover .Rr-panel-statechanger-arrow.left {
        border-left: 5px solid #FFFFFF; /* White color on hover */
    }
    .Rr-panel-statechanger:hover .Rr-panel-statechanger-arrow.right {
        border-right: 5px solid #FFFFFF; /* White color on hover */
    }
    .Rr-panel-statechanger:hover .Rr-panel-statechanger-arrow.top {
        border-top: 5px solid #FFFFFF; /* White color on hover */
    }
    .Rr-panel-statechanger:hover .Rr-panel-statechanger-arrow.bottom {
        border-bottom: 5px solid #FFFFFF; /* White color on hover */
    }

    .Rr-panel-statechanger:hover .Rr-panel-statechanger-dots,
    .Rr-panel-statechanger:hover .Rr-panel-statechanger-dots::after,
    .Rr-panel-statechanger:hover .Rr-panel-statechanger-dots::before {
        background-color: #FFFFFF; /* Color of the dots */
    }

.Rr-panel-statechanger.minimized .Rr-panel-statechanger-dots {
    display: none;
}