<div class="Rr-page" style="@($"--top-offset: {TopOffset}; --left-offset: {LeftOffset};")">
    @if (Header != null)
    {
        <div class="Rr-page-header-container">
            <div class="Rr-page-header">
                @Header
            </div>
        </div>
    }

    @if (Body != null)
    {
        <CascadingValue Value="@MinLatchingPanelWidth">
            <CascadingValue Value="@LatchingPanels">
                <div id="pagebody" class="Rr-page-body-container" style="@GetBodyHeight()">
                    <div class="Rr-page-body">
                        @Body
                    </div>
                </div>
            </CascadingValue>
        </CascadingValue>
    }

    @if (Footer != null)
    {
        <div class="Rr-page-footer-container">
            <div class="Rr-page-footer">
                @Footer
            </div>
        </div>
    }
</div>
