
.floating-window {
    border: 1px solid black;
    background-color: white;
    width: 425px;
    height: 500px;
    padding: 0;
    position: fixed;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    top: 300px;
    left: 400px;
}

.floating-window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 5px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    cursor: default;
}

.close-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30px;
    padding-top: 4px;
}
    .close-button:hover {
        filter: brightness(120%);
        background-color: red;
    }

.minimizeandexpand-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30px;
    padding-top: 4px;
}

    .minimizeandexpand-button:hover {
        filter: brightness(120%);
        background-color: grey;
    }

.header-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    margin-right: 10px;
    user-select: none;
    cursor: default;
}

.popupwindow-tabs {
    display: flex;
    height: 4px;
    align-items: flex-start;
}

.popupwindow-nav-link {
    margin: 0;
    border: none;
    background: linear-gradient(to right, #e9ecef, #f8f9fa);
    cursor: pointer;
    font-size: 12px;
}

.popupwindow-nav-link-selected {
    margin: 0;
    border: none;
    background: linear-gradient(to right, #CAEFE5, #D4FAEF);
    cursor: pointer;
    font-size: 12px;
}
/* CSS for the hover interaction */
.popupwindow-nav-link:hover,
.popupwindow-nav-link.active {
    filter: brightness(120%); /* You can change this color to whatever you prefer */
}

.download-details {
    max-height: 447px; /* Adjust based on your preference */
    overflow-y: auto; /* Adds a scrollbar if the content overflows */
    border: 1px solid #ddd; /* Matches the popup window style */
    border-radius: 5px; /* Adds rounded corners */
    cursor: default;
}

.list-group-item {
    border: none; /* Removes the default border */
    border-bottom: 1px solid #f0f0f0; /* Adds a subtle separator */
    padding: 10px 15px; /* Adjusts padding for better spacing */
}

    .list-group-item:last-child {
        border-bottom: none; /* Removes the bottom border from the last item */
    }